$color_grey: rgb(179, 179, 179);
$color_dgrey:rgb(107, 107, 107);

$color_dt: rgb(255, 181, 20);
$color_dt_l: rgb(255, 198, 77);
$color_dt_in:rgb(194, 168, 113);

$color_ht: rgb(16, 209, 167);
$color_ht_l: rgb(48, 226, 188);
$color_ht_in: rgb(106, 150, 140);

$color_dj: rgb(115, 36, 161);
$color_dj_l: rgb(133, 52, 180);
$color_dj_in: rgb(121, 106, 131);

$color_fd: rgb(216, 41, 164);
$color_fd_l: rgb(236, 57, 183);
$color_fd_in: rgb(158, 119, 146);

$color_vt: #5edb16;
$color_vt_l: #7ce241;
$color_vt_in:#79a75e;

$color_ft: rgb(6, 170, 211);
$color_ft_l: rgb(46, 189, 224);
$color_ft_in: rgb(117, 148, 156);

$color_el:rgb(243, 84, 56);
$color_el_l:rgb(245, 109, 84);
$color_el_in:rgb(167, 122, 114);

$color_home: rgb(59, 165, 139);
$color_home_l: rgb(69, 216, 179);

$color_second_tab: rgb(90, 199, 172);

$color_res: rgb(195, 99, 233);


$container-width: 900px;

$laptop-width: 1024px;
$tablet-width: 768px;
$tablet-width_s: 580px;
$mobile-width_l: 425px;
$mobile-width_m: 375px;
$mobile-width_s: 320px;