.fitness {
	&__overall {
		border: 1px solid $color_grey;
		border-radius: 2px;
		padding: 4px;

		width: 100%;
		overflow-x: scroll;
	}

	&__list {
		@include reset-list;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		&-item {
			cursor: pointer;
			width: 60px;
			height: 60px;
			border-radius: 4px;
			flex-grow: 0;
			flex-shrink: 0;

			margin: 3px;

			background-color: $color_dgrey;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80%;

			&.complete {
				background-color: $color_res;
			}

			&:hover {
				background-color: $color_ft_l;
			}
		}
	}

	&__bp-value {
		background-color: $color_res;

		color: #fff;
		font-weight: 700;
		text-align: center;
		font-size: 0.8em;
	}

	&__res {
		&-item {
			width: 50px;
			height: 50px;
			border-radius: 4px;
			flex-grow: 0;
			flex-shrink: 0;

			margin: 3px;

			background-color: $color_res;

			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80%;
		}
	}

	&__wrapper {
		&_output {
			display: flex;
			flex-flow: row wrap;
		}

		display: flex;

		&_out {
			line-height: 25px;
			min-width: 120px;
			border-left: 1px solid $color_grey;
			padding-right: 10px;

			&.name {
				font-size: 0.8em;
				font-weight: 700;
				color: $color_grey;

				padding-left: 7px;

			}
		}

		&_date {
			display: flex;
			flex-flow: column;
			min-width: 100px;
			flex-grow: 0;
			border-left: none;

			font-size: 0.8em;
			font-weight: 700;
			color: $color_grey;
		}

		&_weight {
			border: 1px solid $color_grey;
			border-radius: 2px;
		}

	}

	&__day {
		border: 1px solid $color_grey;
		border-radius: 2px;
		min-width: 58px;
		margin: 2px;

		display: flex;
		flex-flow: column nowrap;

		&_date {
			color: $color_grey;
			font-weight: 700;
			font-size: 0.8rem;
			text-align: center;
		}

		&_res {
			display: flex;
			justify-content: center;
		}
	}
}