.fitness {
	&__list {
		@include reset-list;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		&-item {
			cursor: pointer;
			width: 60px;
			height: 60px;
			border-radius: 4px;
			flex-grow: 0;
			flex-shrink: 0;

			margin: 3px;

			background-color: $color_dgrey;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80%;

			&.complete {
				background-color: $color_res;
			}

			&:hover {
				background-color: $color_ft_l;
			}
		}
	}

	&__res {
		&-item {
			width: 50px;
			height: 50px;
			border-radius: 4px;
			flex-grow: 0;
			flex-shrink: 0;

			margin: 3px;

			background-color: $color_res;

			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80%;
		}
	}

	&__wrapper {
		&_output {
			display: flex;
			flex-flow: row wrap;
		}
	}

	&__day {
		border: 1px solid $color_grey;
		border-radius: 2px;
		min-width: 58px;
		margin: 2px;

		display: flex;
		flex-flow: column nowrap;

		&_date {
			color: $color_grey;
			font-weight: 700;
			font-size: 0.8rem;
			text-align: center;
		}

		&_res {
			display: flex;
			justify-content: center;
		}
	}
}