.vitamins {
	&__list {
		@include reset-list;
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;

	}

	&__item {
		cursor: pointer;
		display: block;
		padding: 5px 0;
		min-height: 70px;
		margin: 5px;
		flex-basis: 100%;
		flex-grow: 1;

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;

		background-color: rgb(165, 165, 165);
		color: #ffffff;
		font-size: 1.3em;

		span {
			display: block;
			width: 100%;
			padding: 3px;
			background-color: rgb(211, 255, 130);
			color: #000;
			font-size: 0.7em;
		}

		&:hover {
			background-color: $color_vt_l;
		}

		&.complete {
			background-color: $color_vt;
		}
	}
}