.vitamins {
	&__list {
		@include reset-list;
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;

	}

	&__item {
		cursor: pointer;
		display: block;
		border-radius: 4px;
		padding: 5px 0;
		min-height: 40px;
		margin: 5px;
		flex-basis: 100%;
		flex-grow: 1;

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;

		background-color: rgb(196, 196, 196);
		color: #ffffff;
		font-size: 1.3em;

		span {
			display: block;
			width: 100%;
			padding: 4px;
			background-color: rgb(221, 255, 158);
			color: $color_dgrey;
			font-size: 0.7em;
		}

		&:hover {
			background-color: #dd85ff;
		}

		&.complete {
			background-color: #c23fff;
		}
	}

	&__wrapper {
		border: 1px solid $color_grey;

		border-radius: 4px;
		width: 100%;

		overflow-x: scroll;

		padding: 10px;

		&_output {
			display: flex;
			width: 100%;
		}
	}

	&__names {
		@include reset-list;
		width: 120px;
		flex-shrink: 0;

		li {
			height: 24px;
			margin-bottom: 2px;
			display: flex;
			align-items: center;
		}
	}

	&__results {
		@include reset-list;
		flex-shrink: 0;
		width: 24px;
		margin-right: 2px;

		li {
			display: block;
			width: 24px;
			height: 24px;
			border-radius: 2px;
			margin-bottom: 2px;


			&.complete {
				background-color: $color_res;
			}
		}
	}

	&__dates {
		display: flex;
		margin-left: 120px;
		margin-bottom: 10px;

		&-item {
			display: block;
			flex-shrink: 0;

			width: 24px;
			margin-right: 2px;
			text-align: center;

			color: $color_grey;
			font-weight: 700;

			font-size: 0.9em;
		}
	}
}